
.gallery-carousel {
    /* width: 400px; */
    width: 480px;
    margin: 0 auto;
}


.gallery-slideshow .card,
.gallery-slideshow .card-img-cont > a,
.gallery-slideshow img {
    width: 100%;
}
.gallery-slideshow .card-img-cont {
    position: relative;
    height: 250px;
}
.gallery-slideshow a {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.gallery-thumbnails .card,
.gallery-thumbnails .card-img-cont img {
    /* width: 80px; */
    width: 105px;
}
.gallery-thumbnails .card {
    opacity: 0.4;
}
.gallery-thumbnails .card.nav-selected {
    border: 2px solid #fff;
    border-collapse: collapse;
    -webkit-box-shadow: 0 0 3px 1px #b2bbb5;
    -moz-box-shadow: 0 0 3px 1px #b2bbb5;
    box-shadow: 0 0 3px 1px #b2bbb5;
    opacity: 1;
}

