/* progressive image CSS */
.progressive {
    position: relative;
    /* display: block; */
    /* display: inline-block; */
    /* overflow: hidden; */
    outline: none;
}
.progressive img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
    border: 0 none;
}
/* .progressive img.preview {
    filter: blur(2vw);
    transform: scale(1.05);
} */
.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    /* will-change: transform, opacity; */
    will-change: opacity;
    animation: progressiveReveal 1s ease-out;
}
@keyframes progressiveReveal {
    0% { 
        /* transform: scale(1.05);  */
        opacity: 0; 
    }
    100% { 
        /* transform: scale(1);  */
        opacity: 1; 
    }
}


body {
    /* direction: rtl; */
    background-color: #f4f4f4;
    color: #728992;
    margin: 0;
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}

a {
    text-decoration: none;
    /* color: inherit; */
}
a:hover {
    /* color: #cacaca; */
}
button {
    /* font-family: inherit; */
    border-radius: 10px;
    max-width: 100%;
}
button:disabled {
    pointer-events: none;
    cursor: default !important;
    opacity: 0.5 !important;
}
img {
    max-width: 100%;
    /* border-radius: 8px; */
}
.pos-vr-center {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.auto-container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .auto-container {
        max-width: 990px;
    }
}
.mainContent {
    margin-top: 1rem;
}
.mainContent > section {
    margin: 0 auto 20px;
}
.mainContent > section:first-child {
    margin-top: 20px;
}
.mainContent > section:last-child {
    margin-bottom: 40px;
}
/* .section-heading {
} */
.section-heading .heading {
    font-size: 1.35rem;
    font-weight: bold;
}
.box-padding {
    padding: 10px;
}
@media (min-width: 576px) {
    .box-padding {
        padding: 25px 30px 30px;
    }
}

.f-carousel.is-rtl .icon-arr_left::before,
.f-carousel.is-rtl .icon-arr_right::before,
.f-carousel.is-ltr .icon-arr_left::before,
.f-carousel.is-ltr .icon-arr_right::before {
    display: block;
    line-height: 0;
}
.f-carousel .icon-arr_left::before {
    content: ">";
}
.f-carousel .icon-arr_right::before {
    content: "<";
}

.slideshow-container {
    position: relative;
}

.slider-cards-container {
    padding: 0 1px;
    margin: 0 19px;
}

.cards-wrapper {
    display: flex;
    align-items: flex-start;
}
.carousel-card {
    display: inline-block;
    position: relative;
    width: 225px;
    min-width: 225px;
    margin: 0 8px;
}

.carousel-card .card-caption {
    touch-action: pan-y;
}

/* این کد مفید نیست (کار نمی کند) چرا که در حالت لمسی قبل از این که کد های
 جاوا اسکریپت بخواهند متوجه هر رخدادی شوند خود دستگاه ی تواند رویداد ها را 
 مدیریت کند؛ مثلا وقتی سیستم حس می کند که کاربر با کشیدن دست می خواهد اسکرول کند بلافاصله آن 
 را به عنوان pointercancel یا همان touchcancel
 تشخیص داده و مانع اجرای دستوراتی می شود که باید در زمان حرکت تاچ طبق کدهای
  جاوا اسکریپتی که برایش در نظر گرفته شده عمل کنند */

/* .is-pointer-down .carousel-card .card-caption {
    pointer-events: none;
} */

/* در صورتی که مرورگر قدیمی باشد یا به هر دلیلی استایل "touch-action: pan-y"
را ساپورت نکند به جای استایل بالا (که گفته شد مفید نیست) مجبور هستیم از این استایل ها استفاده کنیم */

.not-scrollable-children .card-caption {
    overflow-x: visible;
    overflow-y: visible;
}
/* .not-scrollable-children * {
    overflow-x: visible !important;
    overflow-y: visible !important;
} */


.carousel-card {
    display: inline-block;
    text-align: center;
    border-radius: 6px;
    -webkit-transition: -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1);
    transition: -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1);
    transition: box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1);
    --card-caption-height: 75px;
    z-index: 0;
}
.carousel-card.is-selected {
    z-index: 1;
}
.carousel-card:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}
.carousel-card .card-inner {
}
.carousel-card .card-img-cont {
    display: block;
    position: relative;
    padding: 75% 0 0;
    /* padding: 70.5% 0 0; */
    /* width: 100%; */
    width: calc(100% - 14px);
    margin: 7px auto 0;
    overflow: hidden;
}
.carousel-card .card-img-cont > * {
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel-card .card-img-cont > :not(img) {
    left: 0;
    top: 0;
}
.carousel-card .card-img-cont img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    /* border-radius: 6px 6px 0 0; */
    border-radius: 6px;
    object-fit: cover;
}
.carousel-card .card-info {
    padding: 10px 12px 23px;
}
.carousel-card .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.carousel-card .card-caption {
    font-size: 1.2rem;
    max-height: var(--card-caption-height);
    overflow-y: auto;
}
.carousel-card .card-caption::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 5px;
}
.carousel-card .card-caption::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}
.carousel-card .card-caption::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}


.one_card_in_front {
    width: 650px;
}
.one_card_in_front .card {
    /* background-color: #ccc; */
    background-color: #a5efa7;
    opacity: 0.3;
    transition: opacity 0.25s ease-out;
}
.one_card_in_front .card.is-selected {
    opacity: 1;
}

.one_card_in_front .scroll-handle-Track {
    background-color: #d7dcf5;
    width: 250px;
    height: 5px;
    margin: 1rem auto 0.5rem;
    border-radius: 3px;
    cursor: default;
}
.one_card_in_front .scroll-handle {
    height: inherit;
    width: 25%;
    background-color: #4379bd;
    border-radius: 3px;
    display: inline-block;
    position: absolute;
    /* min-width: 75px; */
}


.f-carousel.cards-with-margin .card {
    /* margin: 0 10px 0 6px; */
    margin: 0 25px 0 6px;
}
.f-carousel.cards-with-margin-2 .card {
    /* margin: 0 10px 0 6px; */
    margin: 0 19px 0 38px;
}


.gallery-carousel {
    /* width: 400px; */
    width: 480px;
    margin: 0 auto;
}

.gallery-slideshow .slider-cards-container {
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 13px;
}
.gallery-thumbnails .slider-cards-container {
    margin-right: 17px;
    padding-right: 3px;
    margin-left: 17px;
    padding-left: 3px;
}
.gallery-slideshow .card,
.gallery-slideshow .card-img-cont > a,
.gallery-slideshow img {
    width: 100%;
}
.gallery-slideshow .card-img-cont {
    position: relative;
    height: 250px;
}
.gallery-slideshow a {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
}
.gallery-thumbnails .card,
.gallery-thumbnails .card-img-cont img {
    /* width: 80px; */
    width: 105px;
}
.gallery-thumbnails .card {
    opacity: 0.4;
}
.gallery-thumbnails .slider-cards-container:not(.is-pointer-down) .card {
    cursor: pointer;
}
.gallery-thumbnails .card a {
    pointer-events: none;
}
.gallery-thumbnails .card.nav-selected {
    border: 2px solid #fff;
    border-collapse: collapse;
    -webkit-box-shadow: 0 0 3px 1px #b2bbb5;
    -moz-box-shadow: 0 0 3px 1px #b2bbb5;
    box-shadow: 0 0 3px 1px #b2bbb5;
    opacity: 1;
}

