/* progressive image CSS */
.progressive {
    position: relative;
    /* display: block; */
    /* display: inline-block; */
    /* overflow: hidden; */
    outline: none;
}
.progressive img {
    display: block;
    width: 100%;
    max-width: none;
    height: auto;
    border: 0 none;
}
/* .progressive img.preview {
    filter: blur(2vw);
    transform: scale(1.05);
} */
.progressive img.reveal {
    position: absolute;
    left: 0;
    top: 0;
    /* will-change: transform, opacity; */
    will-change: opacity;
    animation: progressiveReveal 1s ease-out;
}
@keyframes progressiveReveal {
    0% { 
        /* transform: scale(1.05);  */
        opacity: 0; 
    }
    100% { 
        /* transform: scale(1);  */
        opacity: 1; 
    }
}


body {
    /* direction: rtl; */
    background-color: #f4f4f4;
    color: #728992;
    margin: 0;
}
.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}

a {
    text-decoration: none;
    /* color: inherit; */
}
a:hover {
    /* color: #cacaca; */
}
ul,
ol {
    list-style: none;
    padding: 0;
}
button {
    /* font-family: inherit; */
    border-radius: 10px;
    max-width: 100%;
}
button:disabled {
    pointer-events: none;
    cursor: default !important;
    opacity: 0.5 !important;
}
img {
    max-width: 100%;
    /* border-radius: 8px; */
}
.pos-vr-center {
    position: absolute;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
}

.auto-container {
    max-width: 1200px;
    padding: 0 10px;
    margin: 0 auto;
}
@media (min-width: 992px) and (max-width: 1199px) {
    .auto-container {
        max-width: 990px;
    }
}
.mainContent {
    margin-top: 1rem;
}
.mainContent > section {
    margin: 0 auto 20px;
}
.mainContent > section:first-child {
    margin-top: 20px;
}
.mainContent > section:last-child {
    margin-bottom: 40px;
}
/* .section-heading {
} */
.section-heading .heading {
    font-size: 1.35rem;
    font-weight: bold;
}
.box-padding {
    padding: 10px;
}
@media (min-width: 576px) {
    .box-padding {
        padding: 25px 30px 30px;
    }
}

.carousel .previous-button-icon::before,
.carousel .next-button-icon::before {
    display: block;
    line-height: 0;
}
.carousel.is-ltr .previous-button-icon::before {
    content: "<";
}
.carousel.is-ltr .next-button-icon::before {
    content: ">";
}

.slideshow-container {
    position: relative;
}

.fcarousel-items-container {
    padding: 0 1px;
    margin: 0 19px;
}

.carousel-item {
    display: inline-block;
    position: relative;
    width: 225px;
    min-width: 225px;
    margin: 0 8px;
    text-align: center;
    border-radius: 6px;
    -webkit-transition: -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1);
    transition: -webkit-box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1);
    transition: box-shadow 0.1s cubic-bezier(0.4, 0, 1, 1);
    --card-caption-height: 75px;
    z-index: 0;
}
.carousel-item.is-selected {
    z-index: 1;
}
.carousel-item:hover {
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.1);
}

.carousel-item .card-caption {
    touch-action: pan-y;
}

/* این کد مفید نیست (کار نمی کند) چرا که در حالت لمسی قبل از این که کد های
 جاوا اسکریپت بخواهند متوجه هر رخدادی شوند خود دستگاه ی تواند رویداد ها را 
 مدیریت کند؛ مثلا وقتی سیستم حس می کند که کاربر با کشیدن دست می خواهد اسکرول کند بلافاصله آن 
 را به عنوان pointercancel یا همان touchcancel
 تشخیص داده و مانع اجرای دستوراتی می شود که باید در زمان حرکت تاچ طبق کدهای
  جاوا اسکریپتی که برایش در نظر گرفته شده عمل کنند */

/* .is-pointer-down .carousel-item .card-caption {
    pointer-events: none;
} */

/* در صورتی که مرورگر قدیمی باشد یا به هر دلیلی استایل "touch-action: pan-y"
را ساپورت نکند به جای استایل بالا (که گفته شد مفید نیست) مجبور هستیم از این استایل ها استفاده کنیم */

.not-scrollable-children .card-caption {
    overflow-x: visible;
    overflow-y: visible;
}
/* .not-scrollable-children * {
    overflow-x: visible !important;
    overflow-y: visible !important;
} */


.carousel-item .card-img-cont {
    display: block;
    position: relative;
    padding: 75% 0 0;
    /* padding: 70.5% 0 0; */
    /* width: 100%; */
    width: calc(100% - 14px);
    margin: 7px auto 0;
    overflow: hidden;
}
.carousel-item .card-img-cont > * {
    position: absolute;
    width: 100%;
    height: 100%;
}
.carousel-item .card-img-cont > :not(img) {
    left: 0;
    top: 0;
}
.carousel-item .card-img-cont img {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    height: 100%;
    background-color: #f7f7f7;
    /* border-radius: 6px 6px 0 0; */
    border-radius: 6px;
    object-fit: cover;
}
.carousel-item .card-info {
    padding: 10px 12px 23px;
}
.carousel-item .card-title {
    font-size: 1.5rem;
    font-weight: bold;
}
.carousel-item .card-caption {
    font-size: 1.2rem;
    max-height: var(--card-caption-height);
    overflow-y: auto;
}
.carousel-item .card-caption::-webkit-scrollbar {
    width: 7px;
    height: 7px;
    border-radius: 5px;
}
.carousel-item .card-caption::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: #ccc;
}
.carousel-item .card-caption::-webkit-scrollbar-thumb:hover {
    background-color: #bbb;
}


.tab-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}
.tab-item {
    background-color: #d7dcf5;
    border: 1px solid #ccc;
    border-bottom-color: transparent;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.tab-item:hover {
    background-color: #e8e9f1;
}
.tab-item.active {
    background-color: transparent;
}
.control-options-box {
    max-width: 992px;
    margin: 4rem auto 0;
}
.control-options-box .sub-category-options {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.control-options-box .sub-category-options > * {
    margin: 1rem 1rem 1rem 0;
}

